body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.page{
    background-color: #a7dff6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back{
    font-size: 20px;
    padding: 0;
    position: absolute;
    margin: 0;
    margin-top: 30px;
    display: block;
    margin: 50px 0 0 30px;
}

.back a{
    text-decoration: none;
    color: black ;
}

.arrow{
    border-left: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(45deg);
    display: inline-block;
}

.content-box{
    /*font-family: arial;*/
    position: relative;
    font-size: 20px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 50px 0;
    /*box-shadow: 20px 20px 60px grey;*/
}

.split-left, .split-right{
    width: 50%;
}

.sign-up{
    width: 80%;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image img{
    width: 50%;
}

.form-info{
    text-align: center;
}

.join-us{
    color: #739AE3;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Manrope', sans-serif;
}

.access{
    padding-bottom: 20px;
    top: 0;
    /*color: #242424;*/
}

.form{
    font-size: 20px;
    width: 100%;
    position: relative;
    height: 20%;
    left: 0px;
    /*background-color: pink;*/
}

.form .names{
    display: flex;
    justify-content: space-between;
}

.form .form-group{
    margin-bottom: 20px;
    padding-right: 30px;
    color: gray;
}

.form .form-group input{
    width: 100%;
    color: #242424FF;
    display: block;
    height: 40px;
    padding-top: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #d3d3d3;
    /*padding-bottom: 30px;*/
    font-size: 16px;
    /*background-color: pink;*/
}

.form .form-group input:focus{
    outline: none;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder {
    opacity: 0;
}

.form .form-group input::placeholder{
    color: #739AE3;
    font-size: 20px;
    font-family: 'Tai Heritage Pro';
}

.form .form-group label{
    left: 0;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    display: inline-block;
    /*margin-bottom: 10px;*/
    font-size: 10px;
    color: transparent;
}

.form input:focus + .label-name,
.form input:valid + .label-name,
.form input:active + .label-name{
    color: grey;
    transform: translateY(-350%);
    font-size: 20px;
    font-family: Arial;
    transition: all 0.3s ease-in;
}

/*button{*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: #5c93f8;*/
/*    width: 150px;*/
/*    font-size: 15px;*/
/*    padding: 8px 16px 8px;*/
/*}*/

.sign-up-btn{
    border-radius: 30px;
    background-color: #5c93f8;
    color: white;
    width: 150px;
    font-size: 15px;
    padding: 8px 16px 8px;
    border: none;
    margin-right: 30px;
}

.buttons a{
    text-decoration: none;
    color: #5c93f8;

}

.sign-up-btn:hover{

}

/* If the screen size is 600px wide or less, hide the element */
@media screen and (max-width: 1358px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .split-left {
        width: 100%;
        /*z-index: -1;*/
        opacity: 1;
    }

    .image {
        display: flex;
    }

    .content-box {
        height: 80%;
        margin: auto;
        display: inline-block;
        /*justify-content: space-between;*/
    }

    .split-right, .page, .sign-up {
        width: 100%;
        top: 0;
    }

    .form-group .split-right, .form-group .split-left {
        width: 100%;
        margin: auto;
        display: block;
    }

    .join-us {
        padding-top: 5%;
        width: 90%;
        margin: auto;
        font-size: 80px;
    }

    .access {
        font-size: 35px;
    }

    .form .form-group label {
        left: 0;
        top: 0;
        margin-top: 0;
        padding-top: 0;
        display: inline-block;
        /*margin-bottom: 10px;*/
        font-size: 40px;

    }

    .page .form {
        width: 100%;

    }

    .form .form-group, .buttons {
        padding-left: 5%;
    }

    .form .form-group input {
        font-size: 20px;

    }

    .form .form-group input::placeholder{
        color: #739AE3;
        font-size: 150%;
        font-family: 'Tai Heritage Pro';
    }

    .buttons .sign-up-btn, .login{
        font-size: 150%;
}

    .buttons .sign-up-btn{
        /*margin-right: 15%;*/
        width: 30%;
        padding: 1% 1% 1% 1%
    }

}