body{
    /*background-color: #a7dff6;*/
    height: 100vh;
    width: 100%;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.back{
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    display: block;
    margin: 50px 0 0 30px;
}

.back a{
    text-decoration: none;
    color: black ;
}

.arrow{
    border-left: 0.1rem solid black;
    border-bottom:  0.1rem solid black;
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(45deg);
    display: inline-block;
}

.content-box{
    /*font-family: arial;*/
    position: relative;
    font-size: 20px;
    top: 50px;
    /*height: 100%;*/
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    /*box-shadow: 20px 20px 60px grey;*/
}

.split-left, .split-right{
    width: 50%;
}

.sign-up{
    width: 80%;
    /*background-color: darkseagreen;*/
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-info{
    text-align: center;
}

.join-us{
    color: #739AE3;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Manrope', sans-serif;
}

.access{
    padding-bottom: 20px;
    top: 0;
    /*color: #242424;*/
}

.form{
    font-size: 20px;
    width: 100%;
    position: relative;
    height: 20%;
    left: 0px;
    /*background-color: pink;*/
}

.form .names{
    display: flex;
    justify-content: space-between;
}

.form .form-group{
    margin-bottom: 20px;
    padding-right: 30px;
    color: gray;
}

.form .form-group input{
    width: 100%;
    color: #242424FF;
    display: block;
    height: 40px;
    padding-top: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #d3d3d3;
    /*padding-bottom: 30px;*/
    font-size: 30px;
    /*background-color: pink;*/
}

.form .form-group input:focus{
    outline: none;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder {
    opacity: 0;
}

.form .form-group input::placeholder{
    color: #739AE3;
    font-size: 30px;
    font-family: 'Tai Heritage Pro';
}

.form .form-group label{
    left: 0;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    display: inline-block;
    /*margin-bottom: 10px;*/
    font-size: 10px;
    color: transparent;
}

.form input:focus + .label-name,
.form input:valid + .label-name,
.form input:active + .label-name{
    color: grey;
    transform: translateY(-350%);
    font-size: 20px;
    font-family: Arial;
    transition: all 0.3s ease-in;
}

button{
    background-color: transparent;
    border: none;
    color: #5c93f8;
    width: 150px;
    font-size: 15px;
    padding: 8px 16px 8px;
}
button:hover{
    border-radius: 30px;
    background-color: #5c93f8;
    color: white;
}